.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  width: 100%;
  cursor: zoom-in;
  overflow: scroll;
}

.click-zoom input[type=checkbox]:checked~img {
  width: fit-content;
  cursor: zoom-out
}

.click-zoom {
  width: 100%;
  height: 100%;
}
