#editar-titulo {
    font-size: 36px;
}

button.remover-elemento {
    position: absolute;
    right: 0;
    bottom: 10%;
    height: '100%';
    color: var(--mui-palette-error-light);
}

button.remover-elemento:hover {
    color: var(--mui-palette-error-dark);
}

button.reordenar-elemento {
    position: absolute;
    left: -32px;
    height: '100%';
    color: var(--mui-palette-main-light);
}

button.reordenar-elemento.acima {
    top: 10%;
}

button.reordenar-elemento.abaixo {
    bottom: 10%;
}

button.remover-elemento:hover {
    color: var(--mui-palette-main-dark);
}

div.elemento {
    width: 100%;
    padding: 0;
    position: relative;
    background-position: top;
    background-size: cover;
    display: inline;
}