#editar-titulo {
    font-size: 36px;
}

button.remover-painel {
    position: absolute;
    right: 0;
    top: 0;
    height: '100%';
    color: var(--mui-palette-error-light);
}

button.remover-painel:hover {
    color: var(--mui-palette-error-dark);
}

button.sugestao-convite {
    text-transform: none;
}

button.sugestao-convite:hover {
    color: var(--mui-palette-text-primary);
    text-transform: none;
}