.cartao.conteudo {
    height: 100%;
}

.cartao.conteudo > div {
    flex-grow: 1;
    max-height: 200px;
}

.cartao.conteudo .titulo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    background-color: var(--mui-palette-background-paper);
}